table {
    border-collapse: collapse;
    margin: 50px auto 10px auto;
    width: 100%;
}

td {
    border: 1px solid black;
}

tr:nth-child(2n) {
    background-color: rgba(0, 102, 161, 0.2);
}

.contentWrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.changeNumberProfiles .detailsSelectButton:not(:last-child) {
    margin-right: 10px;
}

.changeNumberProfiles {
    margin-right: auto;
}
